repos:
  # pre-commit install --hook-type pre-push
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
        exclude: 'components/vault/setup/agent-policy.json'
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier/
    rev: v2.2.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: kubeval
        name: kubeval
        description: Lint kube files with system.
        entry: kubeval
        language: system
        files: components/*/*.yaml
